.app {
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: jump 1s infinite;; 
}

button:hover {
  background-color: #45a049;
}

p {
  position: relative;
  left: -50px;
  opacity: 0;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Анимация появления текста */
 
}

p.visible {
  left: 0px;
  opacity: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Увеличиваем на 10% */
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}